<div>
  <h2 class="header-style">Employee List
    <button class="add-btn" mat-raised-button color="primary" (click)="addEmployee()">Add new employee</button>
  </h2>
</div>
<table mat-table [dataSource]="employees" class="mat-elevation-z8">

  <ng-container matColumnDef="firstName">
    <th class="th-style" mat-header-cell *matHeaderCellDef> First Name </th>
    <td class="td-style" mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th class="th-style" mat-header-cell *matHeaderCellDef> Last Name </th>
    <td class="center-column" mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th class="th-style" mat-header-cell *matHeaderCellDef> Email </th>
    <td class="center-column" mat-cell *matCellDef="let employee"> {{employee.email}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th class="th-style" mat-header-cell *matHeaderCellDef> Phone </th>
    <td class="center-column" mat-cell *matCellDef="let employee"> {{employee.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th class="th-style" mat-header-cell *matHeaderCellDef> Actions </th>
    <td class="center-column" mat-cell *matCellDef="let employee">
      <button mat-icon-button (click)="deleteEmployee(employee.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th class="th-style" mat-header-cell *matHeaderCellDef> Employee Details </th>
    <td class="details-column" mat-cell *matCellDef="let employee">
      <button class="details-btn" mat-flat-button (click)="navigateToEmployee(employee.id)">Click for more</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>