.center-login-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login-title {
  display: flex;
  justify-content: flex-start;
}
mat-card {
  /* max-width: 600px; */
  margin: 10em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
.mat-card-title {
  margin: 1em;
  padding-left: 3em;
  padding-bottom: 1em;
}
.example-full-width {
  margin-left: 2em;
  margin-right: 2em;
}
